<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatify</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <form id="messageForm">
        <input type="text" id="messageInput" placeholder="Nachricht">
        <input type="submit" value="Senden">
    </form>

    <pre id="chat">

    </pre>
    <script>
        const socket = io();
        const messageForm = document.getElementById('messageForm')
        const messageInput = document.getElementById('messageInput')
        const chat = document.getElementById('chat')
        socket.on('chatmessage', function(message){
            update(message)
        })

        messageForm.addEventListener('submit', function(event) {
            event.preventDefault()
            const message = messageInput.value
            socket.emit('chatmessage', message)
            messageInput.value = ''
        })

        function update(message){
            chat.innerHTML += message + "\n"
        }
    </script>
</body>
</html>