<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatify</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <form id="messageForm">
        <input type="text" name="messageInput" placeholder="Nachricht">
        <input type="submit" value="Senden">
    </form>

    <script>
        const socket = io();
        const messageForm = document.getElementById('messageForm')

        messageForm.EventListener('submit', function(event) {
            event.preventDefault()
            const messageInput = document.getElementById('messageInput').value
            socket.emit('message', messageInput)
        })
    </script>
    
</body>
</html>